---
import Navbar from "../layouts/Navbar.astro";
import Hero from "../components/Hero.astro";
import About from "./about.astro";
import Services from "./services2.astro";
import Projects from "./projects2.astro";
import Jobs from "./jobs.astro";
import Testimonials from "./testimonials.astro";
import Contact from "./contact.astro";
import Footer from "../layouts/Footer.astro";
import "../styles/global.css";
import TestimonialsSlider from "../components/TestimonialsSlider.astro";
import { ClientRouter } from "astro:transitions";

---

<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>ایلیا ابرپرداز | شرکت توسعه نرم‌افزار</title>
    <ClientRouter/>
    <link rel="icon" type="image/svg+xml" href="/images/logo.svg" />
    <style>
      .rtl {
        direction: rtl;
      }
    </style>
  </head>
  <body class="bg-gray-50 rtl w-full">
    <Navbar />
    <Hero />
    <About />
    <Services />
    <!--<Projects />-->
    <Jobs />
    <TestimonialsSlider />
    <Contact />
    <Footer />
  </body>
</html>

<script>
  // Floating animations
  document.querySelectorAll(".animate-float").forEach((el) => {
    el.animate(
      [
        { transform: "translateY(0)" },
        { transform: "translateY(-40px)" },
        { transform: "translateY(0)" },
        { transform: "translateX(-30px)" },
        { transform: "translateX(0)" },
      ],
      {
        duration: 5500,
        iterations: Infinity,
      }
    );
  });
  document.querySelectorAll(".animate-float-rev").forEach((el) => {
    el.animate(
      [
        { transform: "translateY(0)" },
        { transform: "translateY(50px)" },
        { transform: "translateY(0)" },
        { transform: "translateX(40px)" },
        { transform: "translateX(0)" },
      ],
      {
        duration: 5500,
        iterations: Infinity,
      }
    );
  });

  // Animation on scroll
  function onScrollAnimate() {
    document.querySelectorAll('[data-animate="fade-in"]').forEach((el) => {
      const rect = el.getBoundingClientRect();
      if (rect.top < window.innerHeight - 50) {
        el.classList.add("show");
      }
    });
  }
  onScrollAnimate();
  window.addEventListener("scroll", onScrollAnimate);
</script>
