	<body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/products/">Products</a>
        <a href="/blog/">Blog</a>

        <h1>Products</h1>

        <p>This is where I will post about my products!</p>
    </body>
