---
import Card1 from "../components/Card1.astro";
---
<section class="p-8">
    <h2 class="text-3xl font-extrabold text-[#3db1b0] text-center mb-8">
        نمونه پروژه‌ها
    </h2>
    <div class="flex justify-center items-center gap-x-2">
    <Card1/>
    <Card1/>
    <Card1/>
    <Card1/>
    </div>
</section>