---
import Card1 from "../components/card/Card1.astro";
---
<section class="p-18 pb-28 bg-[#000035]">
    <h2 class="text-3xl font-extrabold text-center text-[#3DB1B0] mb-8">
        خدمات ما
    </h2>

    <div class="flex justify-center gap-8 items-center mt-18">
    <Card1/>
    <Card1/>
    <Card1/>
    </div>
</section>