<section id="services" class="py-16 bg-gray-50">
  <div class="max-w-6xl mx-auto px-6 flex justify-between align-middle" data-animate="fade-in">
    <!--<h2 class="text-3xl font-extrabold text-center text-[#3DB1B0] mb-8">-->
    <!--  خدمات ما-->
    <!--</h2>-->
    <div class="grid md:grid-rows-4 gap-4">
      <h2 class="text-3xl font-extrabold text-center text-[#3DB1B0] mb-8">
        خدمات ما
      </h2>

      <div
        class="max-w-md bg-[#17556F] rounded-xl shadow p-8 flex flex-col items-center text-center hover:shadow-lg transition"
      >
        <i class="fas fa-laptop-code text-4xl bg-amber-500 mb-4"></i>
        <h3 class="font-bold text-xl mb-2 text-white">توسعه نرم‌افزار اختصاصی</h3>
        <p class="text-white mb-4">
          طراحی و پیاده‌سازی انواع نرم‌افزارهای سازمانی، اپلیکیشن و سامانه‌های
          تحت وب متناسب با نیاز شما.
        </p>
      </div>
      <div
        class="max-w-md bg-amber-500 rounded-xl shadow p-8 flex flex-col items-center text-center hover:shadow-lg transition"
      >
        <i class="fas fa-mobile-alt text-4xl bg-amber-500 mb-4"></i>
        <h3 class="font-bold text-xl mb-2 text-white">توسعه اپلیکیشن موبایل</h3>
        <p class="text-white mb-4">
          ساخت اپلیکیشن‌های اندروید و iOS بادوام، جذاب و کاربرپسند برای رشد
          کسب‌وکارها.
        </p>
      </div>
      <div
        class="max-w-md bg-[#17556F] rounded-xl shadow p-8 flex flex-col items-center text-center hover:shadow-lg transition"
      >
        <i class="fas fa-cloud text-4xl bg-amber-500 mb-4"></i>
        <h3 class="font-bold text-xl mb-2 text-white">مشاوره و راهکارهای ابری</h3>
        <p class="text-white mb-4">
          ارائه راهکارهای مدرن مبتنی بر Cloud و انتقال نرم‌افزارهای قدیمی به
          ابر.
        </p>
      </div>
    </div>
  </div>
</section>
