---
import Card3 from "../components/Card3.astro";
---
<section class="h-dvh p-18 bg-gray-100">
    <h2 class="text-3xl font-extrabold text-center text-[#3DB1B0] mb-8">
        خدمات ما
    </h2>

    <div class="flex justify-center gap-10 items-center mt-18">
    <Card3/>
    <Card3/>
    <Card3/>
    </div>
</section>