<section class="container">
    <div class="card">
        <div class="content">
            <p class="logo">برنامه‌نویس فرانت‌اند (React/Vue)</p>
            <div class="h6">سابقه کار حداقل ۲ سال</div>
            <div class="hover_content">
                <p>mParticle’s customer data platform empowers you to Integrate all of your data and orchestrate it across channels, partners, and systems.</p>
            </div>
        </div>
    </div>

    <style>
        .container {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .card {
            border-radius: 16px ;
            position: relative;
            display: flex;
            justify-content: center;
            cursor: pointer;
            width: 22em;
            max-width: 80%;
            padding: 2em 0;
            background: #FFF;
            box-shadow: 0 0 6px 0 #3DB1B0;
            transition: all 0.35s ease;
        }

        .card::before, .card::after {
            border-radius: 20px ;
            content: "";
            position: absolute;
            top: 11px;
            left: 0;
            width: 100%;
            background: #3DB1B0;
            height: 4px;
        }

        .card::before {
            width: 0;
            opacity: 0;
            transition: opacity 0 ease, width 0 ease;
            transition-delay: 0.5s;
        }

        .card::after {
            width: 100%;
            background: white;
            transition: width 0.5s ease;
        }

        .card .content {
            width: 18em;
            max-width: 80%;
        }

        .card .logo {
            margin: 0 0 1em;
            width: 10.625em;
            transition: all 0.35s ease;
        }

        .card .h6 {
            color: #999;
            font-weight: 600;
            text-transform: uppercase;
            margin: 0;
            letter-spacing: 2px;
        }

    </style>
</section>