<section class="pt-32 bg-teal-900 pb-16 text-white text-center w-full">
  <div class="max-w-3xl mx-auto px-5">
    <h1 class="text-2xl md:text-5xl font-bold mb-10 leading-tight">
      توسعه راهکارهای نرم‌افزاری خلاقانه
    </h1>
    <p class="text-lg md:text-xl mb-10 mt-10">
      ما در ایلیا ابرپرداز با تیمی متخصص و خلاق، به کسب‌وکارها کمک می‌کنیم تا
      آینده دیجیتال خود را بسازند. از ایده تا اجرا در کنار شما هستیم.
    </p>
    <a
      href="#contact"
      class="px-8 py-3 rounded-xl border text-amber-500 font-bold text-lg hover:bg-gray-200 transition"
      >مشاوره رایگان</a
    >
  </div>
</section>
