---
import CloudyButton from "./button/CloudyButton.astro";
import Divider from "./Divider.astro";
import Heading2Xl from "./heading/Heading2Xl.astro";
import HeadingLg from "./heading/HeadingLg.astro";

---

<section class="pt-32 bg-[url('/images/bg-dark.jpg')] bg-gradient-to-r from-[hsla(205,91%,13%,1)] to-[hsla(192,60%,32%,1)] bg-cover pb-16 text-white text-center w-full h-dvh">
    <div>
        <div class="max-w-3xl mx-auto px-5 flex flex-col items-center ">
            <Heading2Xl title="توسعه راهکارهای نرم‌افزاری خلاقانه" style="animation:slideInFromRight 1s ease forwards"/>

            <Divider style=" animation: slideInFromLeft 1s ease 0.5s forwards;"/>

            <HeadingLg class="text-center w-2/3 mb-10 mt-10 opacity-0" style="animation: slideInFromBottom 2s ease 0.5s forwards;"
                       title="  ما در ایلیا ابرپرداز با تیمی متخصص و خلاق، به کسب‌وکارها کمک می‌کنیم تا آینده دیجیتال خود را بسازند. از ایده تا اجرا در کنار شما هستیم."/>

            <CloudyButton title="درباره ایلیا" style="animation: slideInFromBottom 2s ease 1s forwards; opacity: 0"/>

        </div>
    </div>
</section>


