---
import "../styles/global.css";
import ThemeIcon from "./ThemeIcon.astro";
---

<header class="bg-teal-900 shadow fixed w-full z-30">
  <nav class="max-w-7xl flex items-center justify-between py-3 px-5">
    <div class="flex items-center space-x-reverse gap-10 space-x-2">
      <img src="/public/images/logo.svg" width={74} />

      <ul
        class="hidden md:flex items-center space-x space-x-6 text-white font-medium"
      >
        <li>
          <a href="#about" class="hover:text-amber-500 transition">معرفی شرکت</a
          >
        </li>
        <li>
          <a href="#services" class="hover:text-amber-500 transition">خدمات</a>
        </li>
        <li>
          <a href="#projects" class="hover:text-amber-500 transition"
            >پروژه‌ها</a
          >
        </li>
        <li>
          <a href="#jobs" class="hover:text-amber-500 transition"
            >فرصت‌های شغلی</a
          >
        </li>
        <li>
          <a href="#testimonials" class="hover:text-amber-500 transition"
            >مشتریان</a
          >
        </li>
        <li>
          <a href="#contact" class="hover:text-amber-500 transition"
            >تماس با ما</a
          >
        </li>
      </ul>
    </div>

    <ThemeIcon />
    <!-- <a
      href="#contact"
      class="hidden md:inline-block px-4 py-2 bg-amber-500 text-white rounded-xl hover:bg-teal-700 transition font-semibold"
      >شروع همکاری</a
    > -->
    <button
      class="md:hidden flex flex-col space-y-1"
      onclick="document.getElementById('mobile-menu').classList.toggle('hidden')"
    >
      <span class="w-7 h-1 bg-amber-500 rounded"></span>
      <span class="w-7 h-1 bg-amber-500 rounded"></span>
      <span class="w-7 h-1 bg-amber-500 rounded"></span>
    </button>
  </nav>
  <div id="mobile-menu" class="md:hidden bg-white py-4 px-5 hidden shadow-lg">
    <ul class="flex flex-col space-y-3 text-right font-medium text-gray-700">
      <li>
        <a href="#about" class="hover:text-amber-500 transition">معرفی شرکت</a>
      </li>
      <li>
        <a href="#services" class="hover:text-amber-500 transition">خدمات</a>
      </li>
      <li>
        <a href="#projects" class="hover:text-amber-500 transition">پروژه‌ها</a>
      </li>
      <li>
        <a href="#jobs" class="hover:text-amber-500 transition">فرصت‌های شغلی</a
        >
      </li>
      <li>
        <a href="#testimonials" class="hover:text-amber-500 transition"
          >مشتریان</a
        >
      </li>
      <li>
        <a href="#contact" class="hover:text-amber-500 transition">تماس با ما</a
        >
      </li>
    </ul>
    <a
      href="#contact"
      class="block w-full text-center mt-3 px-4 py-2 bg-amber-500 text-white rounded-xl hover:bg-amber-500 transition font-semibold"
      >شروع همکاری</a
    >
  </div>
</header>
