---
export enum SocialMedia {
  "LINKEDIN" = "LINKEDIN",
  "GITHUB" = "GITHUB",
}
const { platform, username } = Astro.props as {
  platform: SocialMedia;
  username: string;
};

const imgSrc: Record<SocialMedia, string> = {
  [SocialMedia.LINKEDIN]: "/LinkedIn.svg",
  [SocialMedia.GITHUB]: "/Github.svg",
};
---

<a href={`https://www.${platform}.com/${username}`}><img src={imgSrc[platform]} alt={platform} width="24px" /></a>
